html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Chronicle-Display-Semibold';
  src: url('../fonts/Chronicle-Display-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url('../fonts/Gilroy-Extrabold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.menu__btn {
  display: none;
}

body {
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
  background: #0b1d26;
}

.wrapper {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  /* box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1780px;
  padding: 64px 10px 0;
  margin: 0 auto 198px;
}

.menu__list {
  display: flex;
  gap: 40px;
}

.menu__list-link {
  line-height: 1.2;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
}

.social {
  position: fixed;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.social__text {
  writing-mode: sideways-rl;
}

.site-list {
  position: fixed;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.site-list__item {
  padding: 16px 32px 16px 0;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}

.site-list__item--active {
  border-right: 3px solid rgba(255, 255, 255, 1);
}

.content {
  max-width: 1480px;
  padding: 0 10px;
  margin: 0 auto 200px;
}

.content__top {
  max-width: 950px;
  margin: 0 auto 723px;
}

.pre-title {
  position: relative;
  /* margin-bottom: 32px; */
  padding-left: 104px;
  font-family: 'Gilroy-Extrabold', sans-serif;
  font-weight: 800;
  line-height: 1.22;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: #fbd784;
}

.pre-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.title {
  margin-bottom: 32px;
  padding-top: 32px;
  font-family: 'Chronicle-Display-Semibold', sans-serif;
  font-weight: 375;
  font-size: 88px;
  line-height: 1.14;
  text-transform: capitalize;
}

.scroll {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.list {
  counter-reset: number;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 114px;
  margin-bottom: 200px;
}

.list__item:nth-child(even) .list__item-box {
  order: 1;
}

.list__item-box {
  position: relative;
  padding-left: 150px;
}

.list__item-box::before {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  content: '0' counter(number);
  counter-increment: number;
  font-size: 240px;
  line-height: 1;
  opacity: 0.1;
}

.list__item:nth-child(n + 10) .list__item-box::before {
  content: counter(number);
}

.list__item-title {
  max-width: 555px;
  padding-top: 27px;
  margin-bottom: 27px;
  font-family: 'Chronicle-Display-Semibold', sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
}

.list__item-text {
  margin-bottom: 27px;
}

.list__item-link {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  color: #fbd784;
}

.footer {
  display: flex;
  gap: 212px;
  max-width: 1480px;
  padding: 0 10px;
  margin: 0 auto 240px;
}

.footer__main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: auto;
}

.footer__text {
  max-width: 303px;
  margin-bottom: auto;
}

.copy {
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 500;
  opacity: 0.5;
}

.footer__item-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.33;
  color: #fbd784;
}

.footer__list-item {
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 500;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 1800px) {
  .social {
    left: 20px;
  }

  .site-list {
    right: 20px;
  }

  .content {
    max-width: 1080px;
  }

  .list__item {
    gap: 64px;
  }

  .list__item-img {
    max-width: 400px;
    height: auto;
  }

  .list__item-box {
    padding-left: 96px;
  }

  .list__item-box::before {
    font-size: 180px;
  }

  .footer {
    max-width: 1080px;
    gap: 100px;
  }
}

@media (max-width: 1280px) {
  .social,
  .site-list {
    display: none;
  }
}

@media (max-width: 975px) {
  .title {
    font-size: 42px;
  }

  .list__item {
    gap: 30px;
    margin-bottom: 100px;
  }

  .list__item-box {
    padding-left: 40px;
  }

  .list__item-box::before {
    font-size: 120px;
  }

  .content {
    margin-bottom: 100px;
  }

  .footer {
    margin-bottom: 140px;
    gap: 30px;
  }
}

@media (max-width: 830px) {
  .content__top {
    max-width: 950px;
    margin: 0 auto 260px;
  }

  .list__item {
    display: block;
  }

  .list__item-box {
    margin-bottom: 30px;
  }

  .list__item-img {
    max-width: 100%;
    width: 100%;
    max-height: 560px;
  }

  .list__item-img--position {
    object-position: bottom;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
  }

  .footer__main {
    width: 100%;
  }

  .footer__text {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .logo {
    position: relative;
    z-index: 2;
  }

  .menu {
    order: 1;
  }
  .menu__btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 40px;
    height: 40px;
    padding: 0;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .menu__btn-bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .menu__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    z-index: 1;
    background-color: #0b1d26;
    transition: transform 0.5s;
  }

  .menu__list.menu__list-open {
    transform: translateY(0%);
  }
}

@media (max-width: 500px) {
  .pre-title {
    padding-left: 60px;
  }

  .pre-title::before {
    width: 40px;
    transform: translateY(-30%);
  }

  .content__top {
    margin-bottom: 80px;
  }

  .list__item-box::before {
    font-size: 70px;
  }

  .list__item-box {
    padding-left: 24px;
  }

  .list__item-title {
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 40px;
  }
}
