@font-face {
  font-family: 'Chronicle-Display-Semibold';
  src: url('../fonts/Chronicle-Display-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url('../fonts/Gilroy-Extrabold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #fff;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  background: #0b1d26;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1780px;
  padding: 64px 10px 0;
  /* max-width: 1760px;
  padding: 64px 0; */
  margin: 0 auto 198px;
}

.menu__list {
  display: flex;
  gap: 40px;
}

.menu__list-link {
  line-height: 1.2;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
}
